<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sleep Metrics</title>
</head>
<body>
  <h1>Add a sleep record</h1>

  <form action="#" method="POST" th:action="@{/sleep/add}" th:object="${sleep}">
    <label for="started-at">Fell asleep at:</label>
    <input type="datetime-local" id="started-at" name="started-at" th:field="*{from}"> <br>
    <label for="finished-at">Woke up at:</label>
    <input type="datetime-local" id="finished-at" name="finished-at" th:field="*{till}"> <br>
    <label for="awake">Minutes spent awake</label>
    <input type="number" id="awake" name="awake" th:field="*{awake}">

    <input type="submit" value="Submit">
  </form>
  
</body>
</html>
