<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sleep-Metrics</title>
</head>
<body>

<h1>Welcome to sleep metrics App!</h1>

<ul class="menu">
  <li><a href="list.html" th:href="@{/sleep/list}">list sleep recoreds</a></li>
  <li><a href="add.html" th:href="@{/sleep/add}">Add a sleep</a></li>
  <li><a href="login.html" th:href="@{/login}">Login</a></li>
  <li><a href="register.html" th:href="@{/register}">Register</a></li>
  <li><a href="logout.html" th:href="@{/logout}">Logout</a></li>
</ul>

</body>
</html>
