<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sleep Metrics</title>
</head>
<body>
  
  <h1>List of sleep records</h1>
  <table>
    <thead>
      <tr>
        <th> Date </th>
        <th> Length  (in hours)</th>
        <th> Started</th>
        <th> Finished</th>
        <th> Awake</th>
        <th> edit</th>
      </tr>
    </thead>
    <tbody>
      <tr th:if="${sleeps.empty}">
        <td colspan="5"> No Data Available </td>
      </tr>
      <tr th:each="sleep : ${sleeps}">
        <td><span th:text="${sleep.from.toLocalDate()}"> Date from </span></td>
        <td><span th:text="${#numbers.formatDecimal(sleep.getSleepLength(),1,2)}"> Length </span></td>
        <td><span th:text="${sleep.from.toLocalTime()}"> from </span></td>
        <td><span th:text="${sleep.till.toLocalTime()}"> till </span></td>
        <td><span th:text="${{sleep.awake}}"> Awake </span></td>
        <td><a href="#edit" th:href="@{/sleep/edit/{id}(id=${sleep.id})}">edit</a></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
